[Unit]
Description=Crowdsec Container
Documentation=https://docs.crowdsec.net/u/getting_started/installation/docker/
After=network.target

[Container]
AutoUpdate=registry
ContainerName=crowdsec
Image=ghcr.io/alexandrefoley/crowdsecquadlet:latest
Environment=GID=1000
Network=crowdsec.network
Volume=crowdsec-db:/var/lib/crowdsec/data/

# logfiles locations
Volume=./crowdsec/acquis.d:/etc/crowdsec/acquis.d

# Log Parser mode
Environment=DISABLE_LOCAL_API=true
Environment=LOCAL_API_URL="http://10.66.66.1:8080"
# username optionnal with autoregistration, but required for user and password registration
Environment=AGENT_USERNAME=CaddyParser 
# Mount Podman secret and set registration token
Secret=agent_auto_registration_token,type=env,target=AGENT_AUTO_REGISTRATION_TOKEN
# Secret=agent_password:env=AGENT_PASSWORD  # optional Podman secret for agent password registration

# Interactions
Environment="COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors"
Environment="PARSERS=crowdsecurity/jellyfin-whitelist crowdsecurity/nextcloud-whitelist"
Volume=/var/log/caddy:/var/log/caddy:ro


[Service]
Restart=always



